/* Body */

/*
body {
	background-color: rgb(204,204,204);
	margin: 0;
}

h1 {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-right: -10px;
	text-align: center;
	background-image: url("photos/convectiondiff.png");
	color: white;
}

p {
	text-align: justify;
}

div {
	margin-left: 180px;
	margin-right: 180px;
	padding: 1px;
}


/* Side navigation bar */

/*
.navbar {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #f1f1f1;
	border: 1px solid #555;
	position: sticky;
	overflow: auto;
	float: left;
}

.navbar li {
	border: 1px solid #555;
	border-top: none;
	border-left: none;
	border-right: none;
}

.navbar li:last-child {
	border-bottom: none;
}

.navbar li a {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 8px 0px 8px 16px;

}

.navbar li a:hover {
	background-color: #555;
	color: white;
}	


/* Images */
/*
#sparseA {
	width: 700px;
	height: 500px;
	display: block;
	margin: auto;
}






